:root {
  --bg-primary-1: #1487fd;
  --bg-primary-2: #42A0FF;
  --title-color: #333333;
  --text-color: #8a8a8a;
  --button-color: #ffbb00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* About us start // Michaela */
#about-us {
  height: 2rem;
  width: 100px;
  background-color: #ffbb002c;
  color: #ffbb00;
  padding-top: .2rem;
  border-radius: .4rem;
  font-size: 1rem;
}
.container img {
  width: 250px;
}



/* About us slut // Michaela */

