:root {
  --bg-primary-1: #1487fd;
  --bg-primary-2: #42A0FF;
  --title-color: #333333;
  --text-color: #8a8a8a;
  --button-color: #ffbb00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Feature section START - Emma*/
.features {
  background-color: #f5f5f5;
}
.features-btn {
  color: var(--button-color);
  background-color: #ffbb003f;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  outline: none;
}
.features-btn:hover {
  cursor: default;
}
.boxes {
  flex-direction: column;
}
.box {
  width: 300px;
}
.explanation {
  width: 230px; 
}
.features-icon {
  height: 45px;
  width: 45px;
  background-color: #ffbb003f;
  border-radius: 8px;
  position: relative;
}
.features-icon i {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--button-color);
}
.dots {
  background-image: radial-gradient(lightgrey 4px, transparent 0);
  background-size: 30px 30px;
  height: 90px;
  width: auto;
  display: block !important;
}
.feature-headline,
.feature-description {
  text-align: center;
}
.features-mobile {
  display:none;
}

/* Feature section END - Emma */

/* Media queries */

@media (min-width: 768px) {

  .dots {
      display: none;
    }
  
  .dots-v2 {
      background-image: radial-gradient(lightgrey 3px, transparent 0);
      background-size: 30px 30px;
      height: 300px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .feature-headline {
      font-size: 1.7rem;
  }

  .feature-headline,
  .feature-description {
    width: 350px;
    text-align: start;
  }

  .feature-description {
    width: 470px;
  }

  .features-mobile img {
    display: none;
  }

}

@media (min-width: 992px) {

  .dots-v2 {width: 180px;}

} 
@media (min-width: 1200px) { 

  .dots-v2 {width: 130px;}

  .features-mobile img {
    display: flex;
    height: 400px;
  }
}
@media (min-width: 1400px) { 

  .dots-v2 {width: 180px;}

}